<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen" />
</head>
<body>
    <footer th:fragment="footer">
        <div id="Footer">

            <div id="PoweredBy">
                <a href="https://gitee.com/petstore_ver2/petstore">www.csu.edu.cn</a>
            </div>

            <div id="Banner">

            </div>

        </div>
    </footer>

</body>
</html>