<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:replace="common/Top"></header>
<div id="Content">
    <p th:text="${msg}">Error Message</p>
</div>
<div id="Footer">

    <div id="PoweredBy">
        <a href="https://gitee.com/petstore_ver2/petstore">www.csu.edu.cn</a>
    </div>

    <div id="Banner">

    </div>

</div>
<!--<footer th:replace="common/Bottom"></footer>-->
</body>
</html>