<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen">
</head>
<body>
	<header th:fragment="header">
		<div id="Header">

			<div id="Logo">
				<div id="LogoContent">
					<a href="/catalog/main"><img src="../images/logo-topbar.gif" /></a>
				</div>
			</div>

			<div id="Menu">
				<div id="MenuContent">
					<!--购物车-->
					<a href="viewCart"><img align="middle" name="img_cart" src="../images/cart.gif" /></a>
					<img align="middle" src="../images/separator.gif" />
					<span th:if="${account == null}">
						<a href="/account/signOnForm">Sign In</a>
					</span>
					<span th:if="${account != null}">
						<a href="/account/signOff">Sign Out</a>
						<!---signOff-->
					</span>

					<!--分隔符-->
					<span th:if="${account != null}">
						<img align="middle" src="../images/separator.gif" />
						<a href="/account/editAccountForm">My Account</a>
					</span>
					<img align="middle" src="../images/separator.gif" />
					<a href="../../help.html">?</a>
				</div>
			</div>

			<script th:src="@{../js/jquery-3.3.1.js}"></script>
			<script th:src="@{../js/searchProduct.js}"></script>
			<div id="Search">
				<div id="SearchContent">
					<form action="/catalog/searchProducts" method="post">
						<input id="searchProductList" type="text" name="keyword" size="14" placeholder="search..."
							   onchange="getProducts()" list="productList" />
						<datalist id="productList" onclick="turnTo('test')">
						</datalist>
						<input type="submit" name="searchProducts" value="Search"/>
					</form>
					<div id="tips" style="display: none; width:60%;  border: 1px solid greenyellow;"></div>
				</div>
			</div>
<!--			<div id="Search">-->
<!--				<div id="SearchContent">-->
<!--					<form action="searchProduct" method="post">-->
<!--						<input type="text" id="keyword" name="keyword" size="14"/>-->
<!--						<div class="auto hidden" id="auto">-->
<!--						</div>-->
<!--						<input type="submit" name="searchProducts" value="Search" />-->
<!--&lt;!&ndash;						<script src="../js/searchProduct.js"></script>&ndash;&gt;-->
<!--					</form>-->
<!--				</div>-->
<!--			</div>-->

			<div id="QuickLinks">
				<a href="/catalog/viewCategory?categoryId=FISH"><img src="../images/sm_fish.gif" /></a>
				<img src="../images/separator.gif" />
				<a href="/catalog/viewCategory?categoryId=DOGS"><img src="../images/sm_dogs.gif" /></a>
				<img src="../images/separator.gif" />
				<a href="/catalog/viewCategory?categoryId=REPTILES"><img src="../images/sm_reptiles.gif" /></a>
				<img src="../images/separator.gif" />
				<a href="/catalog/viewCategory?categoryId=CATS"><img src="../images/sm_cats.gif" /></a>
				<img src="../images/separator.gif" />
				<a href="/catalog/viewCategory?categoryId=BIRDS"><img src="../images/sm_birds.gif" /></a>
			</div>
		</div>
	</header>

	<footer th:fragment="footer">
		<!--    <div id="Footer">-->

		<!--        <div id="PoweredBy">-->
		<!--            <a href="https://gitee.com/petstore_ver2/petstore">www.csu.edu.cn</a>-->
		<!--        </div>-->

		<!--        <div id="Banner">-->

		<!--        </div>-->

		<!--    </div>-->
		test
	</footer>
</body>
</html>