<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>

<header th:replace="common/Top"></header>

<div id="Content">

	<h2 align="center">My Orders</h2>

	<table align="center">
		<tr>
			<th>Order ID</th>
			<th>Date</th>
			<th>Total Price</th>
		</tr>

		<tr th:each="order:${orderList}">
			<td th:text="${order.orderId}">orderId</td>
			<td th:text="${order.orderDate}">orderDate</td>
			<td th:text="'$'+${#numbers.formatDecimal(order.totalPrice,1,2)}">totalPrice
			</td>
		</tr>

	</table>
</div>

<div id="Footer">

	<div id="PoweredBy">
		<a href="https://gitee.com/petstore_ver2/petstore">www.csu.edu.cn</a>
	</div>

	<div id="Banner">

	</div>

</div>

</body>
</html>