<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>

<header th:replace="common/Top"></header>

<div id="Content">
	<div id="BackLink">
		<a href="/catalog/main"> Return to Main Menu </a>
	</div>

	<div id="Catalog">

		<table>
			<tr>
				<th align="center" colspan="2" th:text="${order.orderId}">Order orderId
					<span th:text="${#dates.format(order.orderDate,'yyyy-MM-dd HH:mm:ss')}">111</span>
				</th>
			</tr>
			<tr>
				<th colspan="2">Payment Details</th>
			</tr>
			<tr>
				<td>Card Type:</td>
				<td th:test="${order.cardType}"></td>
			</tr>
			<tr>
				<td>Card Number:</td>
				<td th:test="${order.creditCard}+'* Fake number!'"> * Fake
					number!</td>
			</tr>
			<tr>
				<td>Expiry Date (MM/YYYY):</td>
				<td th:test="${order.expiryDate}">expiryDate</td>
			</tr>
			<tr>
				<th colspan="2">Billing Address</th>
			</tr>
			<tr>
				<td>First name:</td>
				<td th:test="${order.billToFirstName}">billToFirstName</td>
			</tr>
			<tr>
				<td>Last name:</td>
				<td th:test="${order.billToLastName}">billToLastName</td>
			</tr>
			<tr>
				<td>Address 1:</td>
				<td th:test="${order.billAddress1}">billAddress1</td>
			</tr>
			<tr>
				<td>Address 2:</td>
				<td th:test="${order.billAddress2}">billAddress2</td>
			</tr>
			<tr>
				<td>City:</td>
				<td th:test="${order.billCity}">billCity</td>
			</tr>
			<tr>
				<td>State:</td>
				<td th:test="${order.billState}">billState</td>
			</tr>
			<tr>
				<td>Zip:</td>
				<td th:test="${order.billZip}">billZip</td>
			</tr>
			<tr>
				<td>Country:</td>
				<td th:test="${order.billCountry}">billCountry</td>
			</tr>
			<tr>
				<th colspan="2">Shipping Address</th>
			</tr>
			<tr>
				<td>First name:</td>
				<td th:test="${order.shipToFirstName}">shipToFirstName</td>
			</tr>
			<tr>
				<td>Last name:</td>
				<td th:test="${order.shipToLastName}">shipToLastName</td>
			</tr>
			<tr>
				<td>Address 1:</td>
				<td th:test="${order.shipAddress1}">shipAddress1</td>
			</tr>
			<tr>
				<td>Address 2:</td>
				<td th:test="${order.shipAddress2}">shipAddress2</td>
			</tr>
			<tr>
				<td>City:</td>
				<td th:test="${order.shipCity}">shipCity</td>
			</tr>
			<tr>
				<td>State:</td>
				<td th:test="${order.shipState}">shipState</td>
			</tr>
			<tr>
				<td>Zip:</td>
				<td th:test="${order.shipZip}">shipZip</td>
			</tr>
			<tr>
				<td>Country:</td>
				<td th:test="${order.shipCountry}">shipCountry</td>
			</tr>
			<tr>
				<td>Courier:</td>
				<td th:test="${order.courier}">courier</td>
			</tr>
			<tr>
				<td colspan="2" th:test="'Status:'+${order.status}">status </td>
			</tr>
			<tr>
				<td colspan="2">
					<table>
						<tr>
							<th>Item ID</th>
							<th>Description</th>
							<th>Quantity</th>
							<th>Price</th>
							<th>Total Cost</th>
						</tr>
						<tr th:each="lineItem:${order.lineItems}">
							<td><a th:text=" ${lineItem.item.itemId}"></a></td>

							<td th:if="(${lineItem.item != null})" th:text=" ${lineItem.item.attribute1}+
                                ${lineItem.item.product.name}">attribute1</td>
							<td th:if="(${lineItem.item == null})" th:text="{description unavailable}">
								description unavailable</td>

							<td th:text="${lineItem.quantity}">lineItem.quantity</td>
							<td th:text="'$'+${#numbers.formatDecimal(lineItem.unitPrice,1,2)}">unitPrice
							</td>
							<td th:text="'$'+${#numbers.formatDecimal(lineItem.total,1,2)}">total
							</td>
						</tr>
<!--						<tr th:each="lineItem:${order.lineItems}">-->
<!--							<td th:text="'$'+${#numbers.formatDecimal(lineItem.total,1,2)}">total-->
<!--							</td>-->
<!--						</tr>-->
						<th colspan="5" th:text="'Total:'+'$'+${#numbers.formatDecimal(order.totalPrice,1,2)}">
							order.totalPrice</th>
					</table>
				</td>
			</tr>

		</table>

	</div>

</div>

<div id="Footer">

	<div id="PoweredBy">
		<a href="https://gitee.com/petstore_ver2/petstore">www.csu.edu.cn</a>
	</div>

	<div id="Banner">

	</div>

</div>

</body>
</html>