<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.csu.shop.persistence.CartItemMapper">
  <select id="getCartItemsByUsername" resultType="CartItem">
    select
      itemid as itemId,
      quantity,
      unitprice as total
    from cartitem
    where userid = #{username}
  </select>

  <insert id="insertCartItem">
    insert into cartitem (userid, itemid, quantity, unitprice)
    values (#{username}, #{c.itemId}, #{c.quantity}, #{c.total})
  </insert>

  <delete id="deleteCart">
    delete from cartitem
    where userid = #{username}
  </delete>
</mapper>